html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background: #0f172a;

  font-family: sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  -webkit-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
}

button,
select {
  font-size: 16px;
}

.board-root {
  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  padding: 0;
}

@keyframes deckBuilderMessageFlash {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scale(1.08);
    opacity: 0.35;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }

  60% {
    transform: scale(1.08);
    opacity: 0.35;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}